.app-container {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  background-color: #f5f3ef;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 10px;
}

.sign-in-box {
  display: flex;
  width: 900px;
  background-color: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  position: relative;
}

.signup-link {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
}

.signup-link span {
  font-size: 14px;
  color: #6b7280;
}

.signup-link a {
  text-decoration: none;
  color: #111827;
  font-size: 14px;
  font-weight: bold;
}
